


html, body {
    margin: o;
    padding: 0;
}

.nav ul{
    margin: 0;
}
.main-header {
    background-image: url("images/13.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

footer img {
    width: 40px;
    height:40px;
    max-width:none;
}
footer ol {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

footer li {
    display: flex;
    align-items: center;
}